<%- include("header") -%>

<h2>This is the about page</h2>
<p>I love cheese, especially cheese strings cream cheese. Feta cottage cheese boursin rubber cheese feta swiss rubber cheese danish fontina. Blue castello say cheese dolcelatte swiss smelly cheese blue castello edam cheese and biscuits. Cheeseburger mozzarella who moved my cheese taleggio.</p>



<%- include("footer") -%>
