<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TO Do List App </title>
</head>
<body>
  <h1>It's  <%= dayOfWeek %>!</h1>
  <h2>What do you want to do first?</h2>
</body>
</html>
